
@import 'css/rebootcss';
@import 'scss/functions/functions';
@import 'scss/mixins/adaptive';
// import fonts

body {
    // font family
    // font weight
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: rem(1000 + 30);
    padding: 0 15px;
    margin: 0 auto;
}

// @media (max-width: em(1087, 16)) {
//     .container {
//         max-width: rem(970);
//     }
// }
// @media (max-width: em(991.98, 16)) {
//     .container {
//         max-width: rem(750);
//     }
// }
// @media (max-width: em(479.98, 16)) {
// }